name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      packages: write
      pull-requests: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.CHANGESETS_GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          registry-url: https://registry.npmjs.org

      - name: Prepare pnpm
        run: |
          corepack enable pnpm
          pnpm config set store-dir .pnpm-store

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: .pnpm-store
          key: pnpm-frontend-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Install
        run: pnpm install --prefer-offline --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Configure npm authentication
        run: pnpm set "//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release pull request or publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run publish
          title: Release
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_GITHUB_TOKEN }}
