name: Test

on:
  push:
    branches-ignore:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Prepare pnpm
        run: |
          corepack enable pnpm
          pnpm config set store-dir .pnpm-store

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: .pnpm-store
          key: pnpm-frontend-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Install
        run: pnpm install --prefer-offline --frozen-lockfile

      - name: Build
        run: pnpm build
